:root {
    --FontSize: 1.5vw
    
}

body {
    margin: 0;
    background-color: rgb(82, 82, 82);
    filter: drop-shadow(0 0 10vw black);
}

main {
    margin: auto;
    width: 65vw;
    /* background: linear-gradient(.10turn, red 0%, black 50%); */
    background-color: beige;
    display: flex;
    flex-direction: column;
    
    gap: 1vw;
}

nav {
    margin: auto;
}
nav > ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 1vw;


}
.NavButtons {
    font-size: calc(var(--FontSize) * .8);
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(172, 172, 136);
    padding: 1vw;
    border-radius: .2vw;
    text-align: center;
    width: 7vw;
    color:black;
    transition: color 500ms;
    /* border: solid .02vw black; */
    border: none;
}
.NavButtons:hover {
    color: red;
}

#HeaderPic {
    margin: auto;
}

#HeaderNameTag {
    font-size: calc(var(--FontSize) * 2);

    margin: auto;
}

#ProfilePicture {
    border-radius: 100vw;
    width: 20vw;
    height: 20vw;
}

#Container {
    margin: auto;
    border-radius: 2.5vw;
    width: 90vw;
    /* background: linear-gradient(.10turn, red 0%, black 50%); */
    background-color: beige;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 10vw black);

    gap: 1vw;
}
#Container > * {
    margin: auto;
}
#Container > section {
    display: none;
}
#Container > section.active {
    display: block;
}

p {
    margin: 0;
    /* background-color: green; */
}